core/__pycache__/
core/exchange_manager_pydantic.py
data/
logs/
start-xfce.sh
storage/reports/
utils/__pycache__/
.pyproject.toml.swp
view/__pycache__/
pa1/
pa2/
pa2_4.py
render_debug.log
view/.chart_widget.py.swp
view/.main_window.py.swp
tasks/__pycache__/
cli/__pycache__/
docs/project_structure/

